{
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "O": "Shaik Apsar Inc",
      "OU": "system:node-proxier",
      "L": "Dubai",
      "ST": "Dubai",
      "C": "UAE"
    }
  ],
  "CN": "system:{{ item }}"
}