{
    "CN": "system:node:{{ item }}",
    "key": {
        "algo": "rsa",
        "size": 4096
    },
    "names": [
        {
            "O": "Shaik Apsar Inc",
            "OU": "Information technology - Operations",
            "L": "Dubai",
            "ST": "Dubai",
            "C": "UAE"
        }
    ]
}